@import 'styles/colors.scss';

.button {
  background: none;
  font-weight: 700;
  font-size: 12px;
  letter-spacing: 1.5px;
  margin: 1rem 0 2rem;
  padding: 14px 20px;
  text-align: center;
  text-transform: uppercase;
  transition: all 0.2s ease;

  &:hover {
    cursor: pointer;

    > span {
      transform: translateX(4px);
    }
  }

  &.white {
    color: $white;
    border-color: $white;

    &:hover {
      border: 2px solid rgba($color: $white, $alpha: 0.1);
    }
  }

  &.red {
    color: $red;
    border-color: $red;

    &:hover {
      border: 2px solid rgba($color: $red, $alpha: 0.1);
    }
  }

  &.blue {
    color: $blueBlackPearl;
    border-color: $blueBlackPearl;

    &:hover {
      border: 2px solid rgba($color: $blueBlackPearl, $alpha: 0.1);
    }
  }

  &.plain {
    border: 2px solid;
  }

  &.rounded {
    border: 2px solid;
    border-radius: 22px;
  }

  &.none {
    border: none;

    &:hover {
      border: none;
    }
  }

  @media screen and (max-width: 768px) {
    margin: 1rem 0 1rem;
  }
}

.arrow {
  display: inline-block;
  font-size: 1rem;
  height: 12px;
  margin-left: 10px;
  position: relative;
  top: 1px;
  width: 23px;

  &-blue {
    color: $blueBlackPearl;
  }

  &-gold {
    color: $gold;
  }

  &-red {
    color: $red;
  }

  &-white {
    color: $white;
  }
}

.svg {
  fill: currentColor;
  stroke: currentColor;
}

.link {
  border-bottom: none;
  text-decoration: none;
}
