@import 'styles/colors.scss';

.read-more {
  border: 2px solid $white;
  font-weight: 700;
  background: none;
  margin: 1rem 0 2rem;
  padding: 14px 20px;
  letter-spacing: 1.5px;
  transition: 0.5s;
  text-align: center;
  font-size: 12px;
  text-transform: uppercase;
  transition: all 0.2s ease;

  &:hover {
    cursor: pointer;
    border: 2px solid rgba($color: $white, $alpha: 0.1);

    > span {
      transform: translateX(4px);
    }
  }

  &.minimal {
    border: none;
    background: none;
    color: $blueDark;
    padding-left: 0;
  }

  &.white {
    color: $white;
    border-color: $white;

    &:hover {
      border: 2px solid rgba($color: $white, $alpha: 0.1);
    }
  }

  &.red {
    color: $red;
    border-color: $red;

    &:hover {
      border: 2px solid rgba($color: $red, $alpha: 0.1);
    }
  }

  &.blue {
    color: $blueBlackPearl;
    border-color: $blueBlackPearl;

    &:hover {
      border: 2px solid rgba($color: $blueBlackPearl, $alpha: 0.1);
    }
  }

  @media screen and (max-width: 768px) {
    margin: 1rem 0 1rem;
  }
}

.arrow {
  display: inline-block;
  height: 12px;
  position: relative;
  font-size: 1rem;
  margin-left: 10px;
  width: 23px;

  &-white {
    color: $white;
  }

  &-red {
    color: $red;
  }

  &-blue {
    color: $blueBlackPearl;
  }
}
