@import '../../../style/colors.scss';

.container {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.title {
  color: $black;
  text-align: center;
}

.subtitle {
  color: $black;
  text-align: center;
  margin-top: 1rem;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin: 2rem 0;
}

.description {
  color: $black;
  text-align: center;
  flex-shrink: 1;
}


@media screen and (max-width: 768px) {

  .content {
    margin: 2rem 0 1rem;
  }

  .text {
    text-align: center;
    width: 90vw;
  }

  .container {
    align-items: center;
  }
}


@media screen and (max-width: 500px) {

  .subtitle {
    width: 90vw;
  }

}