@import 'styles/colors.scss';

.box-bg {
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  width: 100%;
}

.fixed {
  min-height: 500px;
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 2.75rem 0 5rem;
}

.title {
  color: $white;
  text-align: center;
}

.subtitle {
  color: $white;
  text-align: center;
  margin: 1rem;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2rem 0;
  position: relative;
  max-width: 1280px;
}

.text {
  color: $white;
  flex-shrink: 1;
  margin: 2rem 0;

  > p {
    margin-bottom: 0.5rem;
  }

  > ul {
    list-style: inherit;
    margin-inline-start: 2rem;
  }
}

@media screen and (max-width: 768px) {
  .content {
    margin: 2rem 0 1rem;
    width: 90vw;
  }

  .text {
    text-align: center;
  }

  .container {
    align-items: center;
  }
}

@media screen and (max-width: 500px) {
  .content {
    width: 80vw;
  }
}
