{
  "presets": ["@babel/preset-react"],
  "plugins": [
    "@babel/plugin-proposal-optional-chaining",
    [
      "babel-plugin-react-css-modules",
      {
        "filetypes": {
          ".scss": {
            "plugins": ["postcss-nested"],
            "syntax": "postcss-scss"
          }
        },
        "generateScopedName": "gpalab-[local]-[hash:base64:5]"
      }
    ]
  ]
}
