# Bundle Analysis
dist/bundleStats.html
dist/bundleStats.json

# Editor
.vscode
.DS_Store

# Environment
.env

# Dependencies
node_modules/
vendor/

# Development Builds
dist/dev-*.js
dist/dev-*.css

# Error Logs
npm-debug.log*

#Jekyll
docs/_site
docs/Gemfile.lock