# Bundle Analysis
dist/bundleStats.html
dist/bundleStats.json

# Editor & System
.vscode
.DS_Store

# Environment
.env

# Dependencies
node_modules/
vendor/

# Development Builds
dist/dev-*.js
dist/dev-*.css

# Error Logs & Caches
npm-debug.log*
.phpunit.result.cache