@import '../../../../../public/style/colors.scss';

.button {
  background-color: transparent;
  border: none;
  color: $wordpressBlack;
  cursor: pointer;
  padding: 0;
}

.header {
  margin-bottom: 0.5rem;
}

.list {
  display: flex;
  flex-direction: column;
  width: 100%;

  &-item {
    align-items: center;
    display: grid;
    grid-template-columns: 1fr 30px 30px;

    &:not(:last-of-type) {
      border-bottom: $wordpressBorder;
    }
  }
}
