.button {
  background-color: transparent;
  border: none;
}

.header {
  margin-bottom: 0.5rem;
}

.list {
  display: flex;
  flex-direction: column;
  width: 100%;

  &-item {
    align-items: center;
    display: grid;
    grid-template-columns: 1fr 40px 40px;

    &:not(:last-of-type) {
      border-bottom: 1px solid #e5e5e5;
    }
  }
}
