.form-break {
  display: flex;
  flex-direction: column;
  margin: 0.5rem 0;
}

.radio-wrapper {
  display: flex;
  margin: 1rem 0;

  > label:not(:last-of-type) {
    margin-right: 0.5rem;
  }
}

.radio-label {
  align-items: center;
  display: flex;
  flex-direction: row;

  > input {
    margin: 0.3rem;
  }
}

.toggle-header {
  margin: 0;
}

.toggle-label {
  align-items: center;
  display: flex;
  flex-direction: row;
}

input.toggle-checkbox {
  margin: 0.5rem;
}
