@import 'styles/colors.scss';

$fontContent: 'Open Sans', Arial, sans-serif;

.button-container {
  grid-area: button;
  margin: 2rem 0;
}

.content {
  display: grid;
  margin: 2rem 2rem 4rem;
  max-width: 1191px;

  &-center {
    grid-template-areas:
      'text'
      'button';
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 80px;
    text-align: center;
    margin: 2rem auto 4rem;
    width: 80%;
  }

  &-left {
    text-align: left;
    grid-template-areas:
      'text blank'
      'button blank';
    grid-template-columns: 65% 35%;
    grid-template-rows: 1fr 80px;
  }
}

.overlay {
  background: linear-gradient(
    to top,
    rgba($color: $blackStandard, $alpha: 0.3),
    rgba($color: $blackStandard, $alpha: 0.7) 40%,
    rgba($color: $blackStandard, $alpha: 0.8) 50%,
    rgba($color: $blackStandard, $alpha: 0.7) 60%,
    rgba($color: $blackStandard, $alpha: 0.3) 100%
  );
}

.hero {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 1260px;
}

.title {
  color: $white;
  font-style: normal;
  letter-spacing: -0.75px;
  margin: 4rem 2rem 0;
  display: grid;
  grid-column: 2 / span 11;
}

.subtitle {
  color: $white;
  font-family: $fontContent;
  font-size: 18pt !important;
  font-weight: 700 !important;
  letter-spacing: -0.75px;
  margin: 0 2rem;
  display: grid;
  grid-column: 2 / span 11;
}

.text {
  color: $white;
  grid-area: text;
  min-height: 80px;

  p {
    font-family: $fontContent;
    font-size: 1.2rem;
    line-height: 1.75;
    margin: 1rem 0;
  }

  ol,
  ul {
    list-style: inherit;
    margin-inline-start: 2rem;
  }

  &-large {
    font-style: normal;
    font-weight: 500;
  }
}

@media screen and (max-width: 800px) {
  .text {
    grid-template-columns: 1fr;
  }
}

@media screen and (max-width: 768px) {
  .content {
    &-center {
      width: 90%;
    }

    &-left {
      grid-template-areas:
        'text'
        'button';
      grid-template-columns: 1fr;
      text-align: center;
    }
  }

  .subtitle {
    margin: 1rem;
    text-align: center !important;
  }

  .text {
    margin: 1rem 1.5rem 2rem;
  }

  .title {
    margin: 1.5rem 1.5rem 0;
    padding-top: 3rem;
    text-align: center !important;
  }
}

@media screen and (max-width: 500px) {
  .text {
    margin: 1rem 1rem 2rem;

    p {
      font-size: 1.2rem;
    }
  }

  .content {
    &-background {
      background-position: center bottom;
      background-size: cover;
    }

    &-center {
      margin: 1rem auto 2rem;
    }
  }
}
