@import 'styles/colors.scss';

.gpalab-modal-form {
  display: flex;
  flex-direction: column;
  width: 30vw;

  &-title {
    border-bottom: $wordpressBorder;
    margin: 0 -2rem 1rem;
    padding: 0 2rem 0.5rem;
  }

  > label {
    display: flex;
    flex-direction: column;
    margin: 0.5rem 0;
  }
}

.article-feed {
  &-button {
    align-self: flex-end;

    &-remove {
      align-self: flex-end;
    }
  }

  &-buttons {
    display: flex;
    margin: 0.5rem 0;
  }

  &-info {
    display: flex;
    flex-direction: column;
    margin: 0.75rem 0;
    padding-bottom: 0.75rem;

    &:not(:last-of-type) {
      border-bottom: $wordpressBorder;
    }
  }

  &-label {
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: 1fr 1fr;
    margin: 0.3rem 0;
  }
}
