@import 'styles/colors.scss';

.box-bg {
  background-attachment: fixed;
  position: relative;
  width: 100%;
}

.container {
  position: relative;
  padding: 5rem 0 0;
}

.stat-number {
  padding-right: 0.5rem;
}

.title {
  color: $white;
  text-align: center;
}

.array {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-content: center;
  padding: 3.5rem 0;
  margin: 0 auto;
  max-width: calc(1280px - 6rem);
}

.item {
  border: 5px solid $white;
  padding: 2rem;
  margin: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 30%;

  &-percent {
    font-size: 2rem;
    font-weight: 800;
    color: $white;
    text-decoration: none;
    text-align: center;
    margin-top: 26px;
    padding-bottom: 1rem;
    width: 300px;
  }

  &-info {
    font-size: 1rem;
    color: $white;
    text-decoration: none;
    text-align: center;
    width: 300px;
    margin-bottom: 0;
  }
}

@media screen and (max-width: 768px) {
  .item {
    padding: 0.5rem;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-width: 66%;

    &-info {
      width: 60vw;
      padding-bottom: 1.5rem;
    }

    &-percent {
      font-size: 2rem;
    }
  }
  .array {
    flex-direction: column;
    padding: 2rem 0;
  }

  .container {
    padding-top: 1rem;
  }

  .title {
    padding-top: 2rem;
  }
}

.resources-link {
  margin: 10px;
  height: 100px;
  width: 200px;
}

@media screen and (max-width: 500px) {
  .item {
    min-width: 70%;

    &-info {
      width: 80vw;
    }

    &-percent {
      font-size: 1.7rem;
    }
  }
  &-array {
    padding: 20px 0px 20px 0px;
  }
}