@import 'styles/colors.scss';

.tabs {
  border-bottom: $wordpressBorder;
  display: flex;
  margin: 0.5rem 0 0.3rem;
}

.tab {
  background-color: $wordpressLighterGrey;
  border: $wordpressBorder;
  border-bottom: none;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  opacity: 0.6;
  padding: 0.5rem 1rem 0.3rem;

  &:not(:first-of-type) {
    margin-left: 0.2rem;
  }

  &.selected-tab {
    background-color: $white;
    border-bottom: 1px solid $white;
    margin-bottom: -1px;
    opacity: 1;
  }

  &-button {
    margin: 0.5rem 0;
  }

  &-buttons {
    display: flex;
    margin: 0.5rem 0;
  }

  &-item {
    display: none;

    &.selected-item {
      display: flex;
      flex-direction: column;
    }

    > label {
      display: flex;
      flex-direction: column;
      margin: 0.5rem 0;
    }
  }
}
