@import 'styles/colors.scss';

.cdp-feed {
  display: grid;
  grid-column-gap: 2rem;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  max-width: calc(100vw - 6rem);
  margin: 0 auto;
  padding: 2rem 0;

  &.three {
    grid-template-columns: repeat(3, 1fr);

    @media screen and (max-width: 768px) {
      grid-template-columns: 1fr;
      max-width: calc(100vw - 2rem);
    }
  }

  &.single {
    grid-template-columns: 400px;

    @media screen and (max-width: 500px) {
      grid-template-columns: 1fr;
    }
  }

  @media screen and (max-width: 768px) {
    grid-template-columns: 1fr;
    grid-row-gap: 2rem;
    max-width: calc(100vw - 2rem);
  }
}

.feed-item {
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  height: 220px;
  justify-content: flex-end;
  max-width: 400px;

  &:hover {
    cursor: pointer;
  }

  &-link {
    display: flex;
    flex-direction: column;
    text-decoration: none;
  }

  &-title {
    background-color: rgba($color: $blackStandard, $alpha: 0.7);
    color: $white;
    font-weight: bold;
    margin: 0 !important;
    padding: 1rem;
  }
}
