@import 'styles/colors.scss';

.button {
  &-add {
    margin: 1rem 0 0.5rem;
    width: 50%;
  }

  &-remove {
    align-self: flex-end;
    margin: 0.5rem 0;
  }
}

.container {
  margin: 1rem 0 0.5rem;
}

.form {
  border: $wordpressBorder;
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
  width: 96%;

  > label {
    display: flex;
    flex-direction: column;
    margin: 0.5rem 0;
  }
}

.title {
  margin: 0.5rem 0;
}
