@import 'styles/colors.scss';
@import 'styles/mixins.scss';

.container {
  margin: 1rem 0 0.5rem;

  > label {
    @include stacked-form-label;
  }
}

.form {
  @include subform;

  &-button {
    background: none;
    border: none;
    margin: 0;
    padding: 0;
    width: 30px;
  }

  &-header {
    align-items: center;
    display: flex;
    justify-content: space-between;
  }

  > label {
    @include stacked-form-label;
  }
}

.spacer {
  margin-top: 1rem;
}
