@import '../../../style/colors.scss';

.resource {
  background-color: $white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.03);
  margin: 2.5rem 0;
  max-width: 1280px;
  width: 90%;

  &-bg {
    align-items: center;
    background-color: $white;
    background-repeat: repeat;
    display: flex;
    flex-direction: column;
    padding-bottom: 2rem;
    position: relative;
  }

  &-button {
    background-color: $white;
    color: $black;
    font-size: 1rem;
    font-weight: 600;
    height: 100px;
    width: 300px;
    padding: 1rem;
    text-decoration: none;
    text-align: center;
    border-bottom: 2px solid $gold;
    border-top: none;
    border-right: none;
    border-left: none;

    &:focus {
      outline: none;
    }

    &:hover {
      cursor: pointer;
      color: $gold;
    }

    &.inactive {
      border-bottom: none;
      color: $greyMedium;

      &:hover {
        color: $gold;
      }
    }
  }

  &-content {
    &.no-columns {
      grid-area: content;
      margin: 0 1rem;
    }

    &-columns {
      align-items: flex-start;
      display: grid;
      grid-area: content;
      grid-column-gap: 1.5rem;
      grid-template-columns: 1fr 20px 1fr;
      grid-template-areas:
        'column1 stars title'
        'column1 stars column2';
      margin: 0 1rem;
      max-width: 100%;

      > .video {
        align-self: center;
        grid-area: column1;
      }
    }

    &-text {
      grid-area: column2;
      max-width: 100%;

      > p {
        margin: 1rem 0;

        &:last-of-type {
          margin-bottom: 0;
        }
      }
    }

    &-title {
      font-size: 1.5rem;
      font-weight: 700;
      grid-area: title;
      line-height: 1.3;
    }
  }

  &-hr {
    border-top: 1px solid $greyLight;
    grid-area: hr;
    margin-top: 3rem;
    width: calc(100% - 2rem);
  }

  &-nav {
    background-color: $white;
    border-bottom: 1px solid $greyLight;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  &-section-content {
    display: grid;
    grid-template-areas:
      'content'
      'hr'
      'feed';
    margin: 2rem 1rem 1rem;

    > .cdp-feed-container {
      grid-area: feed;
    }
  }

  &-subtitle {
    margin-top: 1rem;
    text-align: center;
  }

  &-title {
    padding: 2.75rem 0 0;
    text-align: center;
  }
}

.cdp-feed-container {
  display: flex;
  margin: 0 1rem;
  max-width: 100%;

  @media screen and (max-width: 768px) {
    margin: 0;
  }
}

@media screen and (max-width: 768px) {
  .no-columns > p {
    margin-bottom: 1rem;
  }

  .resource {
    margin: 2rem 0 1rem;

    &-button {
      font-size: 1rem;
    }

    &-content {
      &-columns {
        grid-column-gap: 0;
        grid-row-gap: 1rem;
        grid-template-areas:
          'title'
          'column1'
          'stars'
          'column2';
        grid-template-columns: 1fr;
        justify-content: center;
      }

      &-text {
        max-width: 90vw;

        > p:first-of-type {
          margin-top: 0;
        }
      }
    }

    &-nav {
      flex-direction: row;
      flex-wrap: nowrap;
    }

    &-subtitle {
      margin: 1rem 1rem 0;
    }

    &-title {
      padding-top: 2rem;
    }
  }
}

@media screen and (max-width: 500px) {
  .resource {
    &-button {
      height: 75px;
      padding: 0;
      width: 200px;
    }

    &-content {
      &-columns {
        margin: 0;
      }

      &-title {
        text-align: center;
      }
    }

    &-hr {
      margin: 1rem;
    }

    &-nav {
      display: none;
    }

    &-section-content {
      grid-template-areas:
        'content'
        'feed'
        'hr';
      margin: 1rem;
    }

    &-subtitle {
      margin: 1rem;
    }
  }

  // Hides the final hr on mobile
  #resource3 > hr {
    display: none;
  }
}

.star-line {
  align-self: center;
  color: $gold;
  display: flex;
  flex-direction: column;
  grid-area: stars;

  @media screen and (max-width: 768px) {
    flex-direction: row;
    justify-content: center;
  }
}
