.close-icon {
  align-self: flex-end;
  background-color: transparent;
  border: none;
  color: #e5e5e5;
  margin: -1rem -1rem;
  padding: 0;
  z-index: 1;

  &:hover {
    color: #444444;
  }
}

.modal {
  align-items: center;
  display: flex;
  justify-content: center;
  height: 100vh;
  left: 50%;
  margin: -50vh -50vw;
  position: fixed;
  right: 50%;
  top: 50%;
  width: 100vw;
  z-index: 1000;

  &-background {
    background-color: #f1f1f1;
    height: 100%;
    opacity: 0.9;
    position: absolute;
    width: 100%;
  }

  &-controls {
    align-items: center;
    border-top: 1px solid #e5e5e5;
    display: grid;
    grid-template-columns: 1fr 65px 65px;
    grid-column-gap: 0.5rem;
    margin-top: 1rem;
    padding-top: 1rem;
  }

  &-foreground {
    background: #fff;
    border: 1px solid #e5e5e5;
    box-shadow: 0 1px 1px rgba($color: #000000, $alpha: 0.04);
    display: flex;
    flex-direction: column;
    padding: 2rem;
    position: relative;
  }
}

.shortcode-input {
  width: 100%;
}
