@import url('https://fonts.googleapis.com/css?family=EB+Garamond:400,600,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap');

@import 'styles/colors.scss';

$fontBase: 'Open Sans', Arial, sans-serif;
$fontHeader: 'EB Garamond', Times, serif;

h1.gpalab-site-specific {
  font-family: $fontHeader;
  font-size: 36px;
  font-weight: 400;
  line-height: 1.16667;
  letter-spacing: -0.75px;

  @media screen and (min-width: 62em) {
    font-size: 32px;
    line-height: 1.11538;
  }
}

h2.gpalab-site-specific {
  font-family: $fontHeader;
  font-size: 36px;
  font-weight: 400;
  letter-spacing: -0.5px;
  line-height: 42px;

  @media (min-width: 48em) {
    font-size: 32px;
    line-height: 1.11538;
  }
}

h3.gpalab-site-specific {
  font-family: $fontBase;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 1px;
  line-height: 26px;
}

h4.gpalab-site-specific {
  font-family: $fontHeader;
  font-size: 18px;
  font-weight: 500;
  line-height: 26px;
  letter-spacing: 1px;
}

h5.gpalab-site-specific {
  font-family: $fontBase;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 1px;
  line-height: 26px;
  text-transform: uppercase;
}

.gpalab-site-specific > p {
  color: $black;
}

.gpalab-normalizer .light p > a,
.gpalab-normalizer .light li > a {
  color: inherit;
}

.gpalab-normalizer p > a,
.gpalab-normalizer li > a {
  border-bottom: 1px solid;
  color: $blueDark;
  cursor: pointer;
  font-weight: 700;
  text-decoration: none;
  transition: color 0.2s ease-out, border-color 0.2s ease-out;

  &:hover,
  &:active,
  &:focus {
    border-bottom-color: transparent;
    color: $blueSilver;
    text-decoration: none;
  }
}
