.gpalab-normalizer {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  &.full-width {
    margin: 0 -50vw;

    @media screen and (max-width: 768px) {
      margin: 0;
    }
  }

  * {
    box-sizing: border-box;
    margin: 0;
  }
}
