.gpalab-normalizer {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  &.full-width {
    margin-left: calc(50% - 50vw);
    margin-right: calc(50% - 50vw);
  }

  * {
    box-sizing: border-box;
    margin: 0;
  }
}
