.gpalab-normalizer {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  > div {
    min-height: 600px;
  }

  &.full-width {
    margin-left: calc(50% - 50vw);
    margin-right: calc(50% - 50vw);
  }

  * {
    box-sizing: border-box;
    margin: 0;
  }

  p,
  ol,
  ul {
    font-size: 1rem;
    letter-spacing: -0.25px;
    line-height: 1.75;
  }

  h1 {
    font-size: 3rem;
    font-weight: normal;
  }

  h2 {
    font-size: 2.6rem;
    font-weight: normal;
  }

  h3 {
    font-size: 2.1rem;
    font-weight: normal;
  }

  h4 {
    font-size: 1.8rem;
    font-weight: normal;
  }
}
