$black: #333333;
$blackStandard: #000000;
$blueBlackPearl: #062135;
$blueBright: #002d74;
$blueDark: #0a314d;
$blueDarkest: #001027;
$gold: #c1a783;
$greyLightest: #f1f1f1;
$greyLight: #dadada;
$greyMediumLight: #aeb0b5;
$greyMedium: #666666;
$greySilver: #c7c4c3;
$greySlate: #323a45;
$red: #d01319;
$white: #ffffff;

$wordpressBlack: #444444;
$wordpressLightGrey: #e5e5e5;
$wordpressLighterGrey: #ebebeb;

$wordpressBorder: 1px solid $wordpressLightGrey;
