@import 'styles/colors.scss';

@mixin list-spacing {
  > ol,
  > ul {
    list-style: inherit;
    margin-inline-start: 2rem;
  }
}

@mixin stacked-form-label {
  display: flex;
  flex-direction: column;
  margin: 0.5rem 0;
}

@mixin subform {
  border: $wordpressBorder;
  display: flex;
  flex-direction: column;
  margin-bottom: 0.5rem;
  padding: 0.5rem;
  width: 96%;
}

@mixin border-standard {
  border: 2px solid;
}
