@mixin list-spacing {
  > ol,
  > ul {
    list-style: inherit;
    margin-inline-start: 2rem;
  }
}

@mixin stacked-form-label {
  display: flex;
  flex-direction: column;
  margin: 0.5rem 0;
}
@mixin border-standard {
  border: 2px solid;
}
