.gcx-ahl {
  &-container {
    align-items: center;
    background-color: #f3f4f5;
    display: flex;
    justify-content: flex-start;
    min-height: 300px;

    > .block-editor-rich-text {
      position: absolute;
      margin-left: 30px;
    }
  }

  &-figure {
    margin: 0 auto;
  }

  &-icon {
    color: #cfcfcf;
    height: 50px;
    width: 50px;
  }
}
