@import '../../../style/colors.scss';

.bg {
  background-color: $greyLightest;
  padding: 0 0 3rem;
  width: 100vw;

  > div:not(:first-of-type) {
    background-position: center 150%;
  }
}

.card {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.container {
  background-color: $white;
  box-shadow: 4px 4px 12px 0 rgba($color: black, $alpha: 0.2);
  display: grid;
  grid-template-areas:
    'line line line line'
    'bottom1 top1 bottom2 top2';
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin: 5rem auto 0;
  max-width: 1280px;
  position: relative;
  padding: 1rem;
  width: 95%;
}

.dot {
  background-color: $greyMedium;
  border-radius: 50%;
  height: 37px;
  transform: translateY(-17.5px);
  transition: background-color 1s ease;
  width: 37px;
}

.heading {
  color: $greyMedium;
  font-family: 'EB Garamond', Times, serif;
  font-size: 1.8rem;
  font-weight: 800;
  margin-bottom: 0.5rem;
  max-height: 33px;
  max-width: 128px;
}

.line {
  background-color: $greyMedium;
  border: 3px solid $greyMedium;
  display: grid;
  grid-area: line;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  height: 1px;
  justify-items: center;
  margin: 2rem auto;
  width: 100%;
}

.overlay {
  background-repeat: no-repeat;
  background-size: cover;
  height: 120%;
  opacity: 0;
  padding: 2.75rem 0 5rem;
  position: absolute;
  transition: all 1s ease;
  visibility: hidden;
  width: 100%;
}

.slide-title {
  color: $blueDark;
  font-size: 3.8rem;
  font-weight: 800;
  letter-spacing: 2px;
  padding-top: 1.5rem;
  position: relative;
  text-align: center;
  text-transform: uppercase;

  &-mobile {
    display: none;
  }
}

.text {
  color: $greyMedium;
  max-height: 75px;
  max-width: 250px;
  font-size: 1rem;
  font-weight: 600;
  text-align: center;
}

.title {
  padding-top: 2.75rem;
  position: relative;
  text-align: center;
}

// Place grid items in correct grid spot
.top1 {
  grid-area: top1;
}

.top2 {
  grid-area: top2;
}

.bottom1 {
  grid-area: bottom1;
}

.bottom2 {
  grid-area: bottom2;
}

#tl-persia {
  grid-area: persia;
}

#tl-iran {
  grid-area: iran;
  justify-content: flex-end;
}

#tl-ir1 {
  grid-area: ir1;
}

#tl-ir2 {
  grid-area: ir2;
  justify-content: flex-end;

  @media screen and (max-width: 500px) {
    margin-left: 1rem;
  }
}

@media screen and (max-width: 768px) {
  .bg {
    padding-bottom: 0;
  }

  .card {
    justify-content: center;
  }

  .container {
    background-color: transparent;
    box-shadow: none;
    grid-template-areas:
      'bottom1 line persia'
      'iran line top1'
      'bottom2 line ir1'
      'ir2 line top2';
    grid-template-columns: 1fr 0.25fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    margin: 0 auto;
    padding: 5rem 0;
  }

  .dot {
    background-color: $black;
    transform: translateY(0);
    transform: translateX(-17.5px);
    transition: none;
  }

  .heading {
    color: $black;
  }

  .line {
    background-color: $black;
    border-color: $black;
    align-items: center;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr;
    height: 100%;
    margin: 0 1.75rem;
    width: 1px;
  }

  .slide-title {
    display: none;

    &-mobile {
      align-items: center;
      color: $blueDark;
      display: flex;
      font-size: 1.8rem;
      font-weight: bold;
      text-transform: uppercase;
    }
  }

  .text {
    color: $black;
  }

  .title {
    margin: 0 1rem 0;
    padding-top: 2rem;
  }
}

.bottom1,
.bottom2 {
  align-items: flex-end;
  margin: 2rem 0;

  > .timeline-text {
    text-align: right;
  }
}

.top1,
.top2 {
  align-items: flex-start;
  margin: 2rem 0;

  > .timeline-text {
    text-align: left;
  }
}

@media screen and (max-width: 500px) {
  .container {
    padding: 3rem 0;
  }

  .slide-title-mobile {
    font-size: 1.5rem;
  }

  .overlay {
    height: 170%;
  }
}

@media screen and (max-width: 360px) {
  .overlay {
    height: 200%;
  }
}

.extra-opacity {
  background-color: black;
  height: 120%;
  margin-top: -2.75rem;
  opacity: 0.2;
  width: 100vw;

  @media screen and (max-width: 500px) {
    height: 170%;
  }

  @media screen and (max-width: 360px) {
    height: 200%;
  }
}
