@import 'styles/colors.scss';

.bg {
  background-color: $greyLightest;
  padding: 0 0 3rem;
  position: relative;
  width: 100%;
}

.card {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.cards {
  display: grid;
  grid-template-areas: 'cards';
}

.container {
  background-color: $white;
  box-shadow: 4px 4px 12px 0 rgba($color: $blackStandard, $alpha: 0.2);
  margin: 5rem auto 0;
  max-width: 1280px;
  position: relative;
  padding: 1rem;
  width: 95%;
}

.dot {
  background-color: $greyMedium;
  border-radius: 50%;
  height: 37px;
  transform: translateY(-17.5px);
  transition: background-color 1s ease;
  width: 37px;
}

.heading {
  color: $greyMedium;
  font-family: 'EB Garamond', Times, serif;
  font-size: 1.8rem;
  font-weight: 800;
  margin-bottom: 0.5rem;
  max-height: 33px;
  max-width: 128px;
}

.line {
  background-color: $greyMedium;
  border: 3px solid $greyMedium;
  display: grid;
  grid-area: line;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  height: 1px;
  justify-items: center;
  margin: 2rem auto;
  width: 100%;
}

.overlay {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  opacity: 0.5;
  padding: 2.75rem 0 5rem;
  position: absolute;
  transition: all 1s ease;
  width: 100%;
}

h3.slide-title {
  color: $blueDark;
  font-size: 3.8rem;
  font-weight: 800;
  letter-spacing: 2px;
  padding-top: 1.5rem;
  position: relative;
  text-align: center;
  text-transform: uppercase;

  &-mobile {
    display: none;
  }
}

.text {
  color: $greyMedium;
  max-height: 75px;
  max-width: 250px;
  font-size: 1rem;
  font-weight: 600;
  text-align: center;
}

.title {
  padding-top: 2.75rem;
  position: relative;
  text-align: center;
}

@media screen and (max-width: 768px) {
  .bg {
    padding-bottom: 0;
  }

  .card {
    align-items: flex-start;
    justify-content: center;
    margin: 0.5rem 0 0.5rem 0.5rem;
  }

  .container {
    background-color: transparent;
    box-shadow: none;
    display: grid;
    grid-template-areas: 'line cards';
    grid-template-columns: 0.25fr 1fr;
    margin: 0 auto;
    padding: 5rem 0;
  }

  .dot {
    background-color: $black;
    transform: translateY(0);
    transform: translateX(-17.5px);
    transition: none;
  }

  .heading {
    color: $black;
  }

  .line {
    background-color: $black;
    border-color: $black;
    align-items: center;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr;
    height: 100%;
    margin: 0 1.75rem;
    width: 1px;
  }

  .overlay {
    opacity: 0.3;
  }

  .slide-title {
    display: none;

    &-mobile {
      align-items: center;
      color: $blueDark;
      display: flex;
      font-size: 1.8rem;
      font-weight: bold;
      justify-content: center;
      margin: 1rem 1rem 0;
      position: relative;
      text-transform: uppercase;
    }
  }

  .text {
    color: $black;
    margin: 0 !important;
  }

  .title {
    margin: 0 1rem 0;
    padding-top: 2rem;
  }
}

@media screen and (max-width: 500px) {
  .container {
    padding: 3rem 0;
  }

  .slide-title-mobile {
    font-size: 1.5rem;
  }
}

.extra-opacity {
  background-color: $blackStandard;
  height: 100%;
  margin-top: -2.75rem;
  opacity: 0.2;
  width: 100%;
}
